<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rohit Sinha</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Webpack basic starter project">
    <meta name="Description" content="A simple webpack starter project for your basic web development needs." />
    <!-- Open Graph data -->
    <meta property="og:title" content="Rohit Sinha" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://rohitsinha.in" />
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />


    <meta property="og:description" content="Personal site of Rohit Sinha" />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4970">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4970">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@4.5.1/dist/ionicons.js"></script>

</head>

<body>


    <div class="navigation">
        <div id="wrapper">
            <div class="overlay"></div>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <div class="sidebar-header">
                        <div class="sidebar-brand">
                            <a href="#">Home</a></div>
                    </div>

                    <li><a href="#about">About Me</a></li>
                    <li><a href="#courses">Courses</a></li>


                    <li><a href="<%= require('./src/assets/Rohit_Sinha_Frontend_Resume.pdf') %>" target="_blank">Resume</a></li>



                    <li class="dropdown">
                        <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Sample Vue Codes <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInLeft" role="menu">
                            <li><a href="https://smoothies.rohitsinha.in/" target="_blank">Smoothie Site</a></li>
                            <li><a href="https://chat.rohitsinha.in/" target="_blank">Chat App</a></li>

                        </ul>
                    </li>




                    <li><a href="#contact">Contact</a></li>

                </ul>


            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

            </div>
            <!-- /#page-content-wrapper -->

        </div>
    </div>


    <header class="page ">


        <div class="text  animated  slideInLeft delay-1s" >
            <h2>Rohit Sinha</h2>



        </div>
        <div class="text  animated  slideInRight delay-1s">



            <h3> Front End Developer</h3>
        </div>
        <div class="icon">
            <a href="https://github.com/rohsi" target="blank">
                <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/" target="blank">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a href="https://wa.me/919619383721">

                <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
        </div>
        <!-- /#wrapper -->
    </header>


    <section class="newpage " id="about">
            <img src="<%= require('./src/assets/self.jpg') %>" class="img-me " alt="Rohit Sinha">
            <h3>HI, I'm Rohit!</h3>
                <p>
                    Hard-working, simple yet humble best describes me.
                    I had a stroke which paralysed my right side at a young age. Yet, I moved on.
                </p>
                <p>
                    I’m a web designer and developer with a great passion for learning new things.
                    I'm constantly trying to improve my knowledge by going through different online courses.
                </p>
                <p>
                    I'm currently looking for an entry-level opportunity in frontend development.
                </p>
                <p>
                    So, let's connect today!
                </p>

    </section>

    <section class="
            certificates " id='courses'>
        <div id="work-experience" class="sectionClass">
            <div class="row ">
                <div class="sectiontitle">
                    <h2>Courses</h2>
                    <span class="headerLine"></span>
                </div>
                <div class="fullWidth eight columns">
                    <ul class="cbp_tmtimeline">
                        <li>
                            <div class="cbp_tmicon cbp_tmicon-phone ">
                                <i class="fas certificate fa-award fa-10x "></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3>
                                    <a href="https://www.udemy.com/vuejs-2-the-complete-guide/" target="_blank">
                                        Vue JS
                                        2 - The
                                        Complete Guide (incl. Vue Router & Vuex)</a>
                                </h3>

                                <h4>Udemy</h4>
                                <p class="projectParagraph">I learnt the complete basics of Vue JS along with Vue
                                    Routing & Vuex.</p>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon cbp_tmicon-screen">
                                <i class="fas certificate fa-award fa-10x"></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3><a href="https://www.udemy.com/build-web-apps-with-vuejs-firebase/" target="blank">
                                        Build Web Apps with Vue JS 2 & Firebase

                                    </a></h3>
                                <h4>Udemy</h4>
                                <p class="projectParagraph">I learnt Vue JS & Firebase by creating & deploying dynamic
                                    web apps.</p>
                                <p class="projectParagraph">I used Vue Routing & Vue HTTP Resource along with Firbase
                                    API's.</p>

                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon cbp_tmicon-screen">
                                <i class="fas certificate certificate-ongoing fa-book-open fa-10x"></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3><a href="https://www.udemy.com/react-the-complete-guide-incl-redux/" target="blank">
                                        React 16.6 - The Complete Guide (incl. React Router & Redux)
                                    </a></h3>
                                <h4>Udemy</h4>
                                <p class="projectParagraph">I am learning Reactjs, Redux, React Routing.</p>
                            </div>
                        </li>

                        <li>
                            <div class="cbp_tmicon cbp_tmicon-mail">
                                <i class="fas certificate fa-award fa-10x"></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3><a href='https://www.udemy.com/advanced-css-and-sass/' target='blank'>
                                        Advanced CSS and Sass: Flexbox, Grid, Animations and More!</a></h3>
                                <h4>Udemy</h4>
                                <p class="projectParagraph">I learnt complex CSS animations, advanced responsive design
                                    techniques, flexbox layouts, Grid layouts, Sass, CSS architecture &
                                    fundamental CSS concepts.
                                </p>
                                <p class="projectParagraph">I incorporated various font & animation libraries while
                                    completing the course.</p>


                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon cbp_tmicon-mail">
                                <i class="fas certificate fa-award fa-10x"></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3><a href='https://www.udemy.com/design-and-develop-a-killer-website-with-html5-and-css3/'
                                        target='blank'>
                                        Build Responsive Real World Websites with HTML5 and CSS3
                                    </a></h3>
                                <h4>Udemy</h4>

                                <p class="projectParagraph">I learnt how to build responsive websites with cool
                                    features like animations using a 12 column grid layout.</p>

                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon cbp_tmicon-phone">
                                <i class="fas  certificate certificate-ongoing fa-book-open fa-10x"></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3><a href="https://www.udemy.com/the-complete-javascript-course/" target="blank">
                                        The Complete JavaScript Course 2019: Build Real Projects!</a></h3>
                                <h4>Udemy</h4>
                                <p class="projectParagraph">I am learning how to manipulate the DOM with native
                                    Javascript.</p>
                            </div>
                        </li>
                        <li>
                            <div class="cbp_tmicon cbp_tmicon-phone">
                                <i class="fas certificate   fa-award fa-10x"></i>
                            </div>
                            <div class="cbp_tmlabel wow fadeInRight animated">
                                <h3><a href="https://www.udemy.com/html-and-css-for-beginners-crash-course-learn-fast-easy/"
                                        target="blank">
                                        HTML and CSS for Beginners - Build a Website & Launch ONLINE
                                    </a></h3>
                                <h4>Udemy</h4>
                                <p class="projectParagraph">I did this course to improve my HTML & CSS foundations.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </section>
    <footer class="footer" id="contact">
        <div class="flex container footer__primary">
            <div>

                <a href="https://github.com/rohsi" target="blank">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
                <a href="https://www.linkedin.com/" target="blank">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a href="https://wa.me/919619383721">

                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </div>
            <div class="footer__copyright">
                &copy; 2019 Rohit Sinha
            </div>

            </nav>
        </div>
    </footer>

</body>

</html>
