.newpage {
	text-align: center;
	background-image: linear-gradient(
		rgba(56,70,77,0.9),
		rgba(56,70,77,0.9)),
		url('https://source.unsplash.com/random/1920x1080');
	background-size: cover;
	background-attachment: fixed;
	// height: 100vh;
	min-height: 100vh;
     display: flex;
	 flex-direction: column;
	 justify-content:space-evenly;
	// align-items: center;
	color: #eee;
	//padding-bottom: 70px!important;
	//padding-left: 12rem;
	

	h3, h4 {
        margin-top:1%;
        font-size:3.3rem;
		text-transform: uppercase;
		word-spacing: 1px;
	}

	p{
		line-height: 1.8;
		max-width: 114rem;
		margin: 0 auto 2.5rem auto;
	
		width: 60%;
		text-align: left;
		font-size: 23px;
	}
  }
  
  .img-me {
    
    
    border-radius: 50%;
      margin:0 auto;
    width: 300px;
	height: 225px;
}



@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
  
	
	.newpage {
		//padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p {

		width: 80%;
		margin: 20px auto;
	}
        h3{
            margin-top:3%;
        }
        .img-me {
            margin-top:3%;
        }
	
}

	
  }
 
  /* 
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	
	//CSS
	
  }
