.newpage {
	text-align: center;
	background-image: linear-gradient(
		rgba(56,70,77,0.9),
		rgba(56,70,77,0.9)),
		url('../assets/mountain.jpg');
	background-size: cover;
	background-attachment: fixed;
	// height: 100vh;
	min-height: 100vh;
    // display: flex;
	// flex-direction: column;
	// justify-content:center;
	// align-items: center;
	color: #eee;

	
	padding-left: 12rem;
	

	h3, h4 {
		text-transform: uppercase;
		word-spacing: 1px;
	}

	p{
		line-height: 1.8;
		max-width: 114rem;
		margin: 0 auto 2.5rem auto;
	
		width: 80%;
		text-align: left;
		font-size: 20px;
	}
  }
  
  .img-me {
    height: 16rem;
    margin-bottom: 4rem;
	border-radius: 50%;
	margin-top: 4rem;
}



@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
  
	
	.newpage {
		padding: 0%;

		p{

		
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 80%;
		margin: 20px auto;
	}
	.whole{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	  
	
}

	
  }
 
  /* 
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	
	//CSS
	
  }
  