

.page {


  background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://source.unsplash.com/collection/3856860/1920x1080");

  // background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  height: 100vh;
  min-height:100vh;
  background-position: center center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
                /* optional, center the image */

}


.center{
  text-align: center;
}


.text {

  // height: 100px;
  // width: 100%;


  color: white;

  h2{
    font-weight: 300;
    font-size: 50px;
    margin:30px;
  }
  h3{
    font-weight: 300;
    text-align: center;
    font-size: 30px;
  }


}
.icon{
  padding: 15px;;
}
